<h1 id="characterchecker">Character Checker</h1>

<p>This interface is designed for use in checking the accuracy of character identification.</p>

<h2 id="gettingstarted">Getting Started</h2>

<h3 id="installing">Installing</h3>

<p>Download character_checker.zip and unzip into the desired location. Check that interface.exe, record.csv, and UTF2.zip are present. Unzip UTF2.zip into a folder in the same place named UTF2. Make sure the image folder is named UTF2 and the other file is named record.csv.</p>

<h2 id="usage">Usage</h2>

<p>Run interface.exe by double-clicking on the icon. This should bring up a window with an image, a Unicode character, and two buttons. Note: the program may take about 10 seconds to open, do not be alarmed if it does not run immediately. </p>

<p>From there, you can mark the images as correct or not. You are also able to skip characters and come back to them later. The 'show page' button will display the catalogue page the character originates from. If at any point you wish to take a break, you can close the program and when re-opened it will pick up where you left off. </p>

<p>When all images are identified, a pop-up will inform you. To return the data, simply send record.csv to the project team.</p>

<h3 id="troubleshooting">Troubleshooting</h3>

<p>If the characters displayed alongside the images are non-Chinese Unicode characters, there may be a problem with the unzipping of the UTF2 folder. This is due to the encoding method Windows uses when zipping files. If you encounter this problem, it can be solved by unzipping the folder with another archive manager (e.g. 7zip). </p>